##$Id: table.variables.include.vm,v 1.7 2005/10/10 22:06:26 framiere Exp $
#set ( $tablename = $codewriter.tableName() )
#set ( $tableName = $strUtil.convertName($codewriter.tableName()) )
#set ( $columns = $codewriter.getColumns() )
#set ( $foreignKeys = $codewriter.getForeignKeys() )
#set ( $importedKeys = $codewriter.getImportedKeys() )
#set ( $primaryKeys = $codewriter.getPrimaryKeys() )
#set ( $coreClass = $strUtil.getCoreClass($table) )
#set ( $managerClass = $strUtil.getManagerClass($table) )
#set ( $beanClass = $strUtil.getBeanClass($table) )
#set ( $factoryClass = $strUtil.getFactoryClass($table) )
#set ( $httpFactoryClass = $strUtil.getHttpFactoryClass($table) )
#set ( $comparatorClass = $strUtil.getComparatorClass($table) )
#set ( $listenerClass = $strUtil.getListenerClass($table) )
#set ( $rendererClass = $strUtil.getRendererClass($table) )
#set ( $widgetFactoryClass = $strUtil.getWidgetFactoryClass($table) )
#set ( $widgetClass = $strUtil.getWidgetClass($table) )
#set ( $linkedTables = $table.getLinkedTables())
#set ( $linkedPackages = $table.getLinkedPackages())
#set ( $pkgPath = $table.getPackagePath())
#set ( $Q = '"' )
