##$Id: global.manager.java.vm,v 1.3 2005/10/10 20:11:46 framiere Exp $
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename($pkg, "DaoManager.java")
package $pkg;

import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;

/**
 * Data access manager.
 */
public interface DaoManager<T>
{
    public T createBean();
    public String getTableName();
    public T loadByPrimaryKey(Integer id) throws SQLException;
    public int deleteByPrimaryKey(Integer id) throws SQLException;
    public T[] loadAll() throws SQLException;
    public T[] loadAll(int startRow, int numRows) throws SQLException;
    public T[] loadByWhere(String where) throws SQLException;
    public T[] loadByWhere(String where, int[] fieldList) throws SQLException;
    public T[] loadByWhere(String where, int[] fieldList, int startRow, int numRows) throws SQLException;
    public T loadUniqueByWhere(String where) throws SQLException;
    public int deleteAll() throws SQLException;
    public int deleteByWhere(String where) throws SQLException;
    public T save(T bean) throws SQLException;
    public T insert(T bean) throws SQLException;
    public T insert(T bean, boolean orUpdate) throws SQLException;
    public T insert(T bean, boolean orUpdate, boolean delayed) throws SQLException;
    public T update(T bean) throws SQLException;
    public T[] save(T[] beans) throws SQLException;
    public T[] insert(T[] beans) throws SQLException;
    public T[] update(T[] beans) throws SQLException;
    public T loadUniqueUsingTemplate(T bean) throws SQLException;
    public T[] loadUsingTemplate(T bean) throws SQLException;
    public T[] loadUsingTemplate(T bean, int startRow, int numRows) throws SQLException;
    public T[] loadUsingTemplate(T bean, int startRow, int numRows, int searchType) throws SQLException;
    public int deleteUsingTemplate(T bean) throws SQLException;
    public int countAll() throws SQLException;
    public int countWhere(String where) throws SQLException;
    public int countUsingTemplate(T bean) throws SQLException;
    public int countUsingTemplate(T bean, int startRow, int numRows) throws SQLException;
    public int countUsingTemplate(T bean, int startRow, int numRows, int searchType) throws SQLException;
    public T[] decodeResultSet(ResultSet rs, int[] fieldList, int startRow, int numRows) throws SQLException;
    public T decodeRow(ResultSet rs) throws SQLException;
    public T decodeRow(ResultSet rs, int[] fieldList) throws SQLException;
    public T metaDataDecodeRow(ResultSet rs) throws SQLException;
    public T[] loadByPreparedStatement(PreparedStatement ps) throws SQLException;
    public T[] loadByPreparedStatement(PreparedStatement ps, int[] fieldList) throws SQLException;
    public T[] loadByPreparedStatement(PreparedStatement ps, int[] fieldList, int startRow, int numRows) throws SQLException;
}
