package com.pickstream.model.sports;

import java.lang.reflect.Constructor;
import javax.sql.DataSource;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

/**
 * Factory for managers.
 * @author garth
 */
public class ManagerFactory
{
    private static final Logger logger = LoggerFactory.getLogger(ManagerFactory.class);

    public ManagerFactory(DataSource dataSource) {
	this.dataSource = dataSource;
    }

    protected DataSource dataSource;

    public Object getManager(Class clazz) throws Exception {
	logger.trace("Attempting to load Manager for {}.", clazz);
	Constructor ctr = clazz.getConstructor(DataSource.class);
	Object o = ctr.newInstance(dataSource);
	return o;
    }

}
