##$Id: listener.java.vm,v 1.2 2005/10/10 20:11:48 framiere Exp $
#parse( "header.include.vm" )
#parse( "table.variables.include.vm" )
$codewriter.setCurrentJavaFilename("$table.getPackage()", "${listenerClass}.java")
package $table.getPackage();

import java.sql.SQLException;

import $pkg.*;

/**
 * Listener that is notified of $tablename table changes.
 */
public interface $listenerClass
{
    /**
     * Invoked just before inserting a $beanClass record into the database.
     *
     * @param pObject the $beanClass that is about to be inserted
     */
    public void beforeInsert($beanClass bean) throws SQLException;


    /**
     * Invoked just after a $beanClass record is inserted in the database.
     *
     * @param pObject the $beanClass that was just inserted
     */
    public void afterInsert($beanClass bean) throws SQLException;


    /**
     * Invoked just before updating a $beanClass record in the database.
     *
     * @param pObject the $beanClass that is about to be updated
     */
    public void beforeUpdate($beanClass bean) throws SQLException;


    /**
     * Invoked just after updating a $beanClass record in the database.
     *
     * @param pObject the $beanClass that was just updated
     */
    public void afterUpdate($beanClass bean) throws SQLException;

}
